p{
    font-family: 'Jost', sans-serif;
}
h1{
    font-family: "Bebas Neue", cursive;
}
.homepage{
  background-image: url(./../../Assets/homebackground.jfif);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 600px;
}
.homeh1{
    color: white;
    font-size: 100px; 
    font-weight: 200;
    padding-top: 120px;
    padding-left: 10px;
}
.homep1{
    color: gray;
    padding-left: 10px;
    font-size: 19px;
}
.page2{
    width: 100%;
    min-height: 500px;
    background-color: hwb(0 0% 100%);
    display: flex;
    justify-content: space-around;
}
.photo1{
    width: 400px;
    min-height: 350px;
    background-image: url(../../Assets/onephoto.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 120px;
    border-top: 3px solid rgb(65, 44, 61);
}
.photo2{
    width: 400px;
    min-height: 350px;
    background-image: url(../../Assets/twophoto.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 120px;
    border-top: 3px solid rgb(65, 44, 61);
}
.photo3{
    width: 400px;
    min-height: 350px;
    background-image: url(../../Assets/treephoto.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 120px;
    border-top: 3px solid rgb(65, 44, 61);
}
.number{
    color: #C7A17A;
    margin-top: 15px;
    margin-left: 10px;
}
.title{
    font-size: 35px;
    font-weight: 200;
    color: white;
    margin-left: 10px;
}
.textphoto  {   
    color: #00fff7;
    font-weight: 700;
    margin-left: 10px;
}
.page3{
    width: 100%;
    min-height: 700px;
    background-color: hwb(0 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3img{
    width: 80vh;
    background-image: url(../../Assets/homefour.jpeg);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin-top: 120px;
    margin-left: 25px;
}
.page3form{
    margin-top: 120px;
    width:90vh ;
    height: 550px;
    background-color: #212529;
}
.page3p1{
    padding: 2px 5px 2px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 80px;
    margin-left: 100px;
    color: white;
    font-size: 14px;
    background-color: #C7A17A;
    display: inline-block;
}
.page3title{
    margin-left: 100px;
    color: white;
    font-size: 55px;
    font-weight: 200;
}
.page3p2{
    margin-left: 100px;
    color: #A7A7A7;
}
.page3p3{
    margin-left: 100px;
    color: #A7A7A7;
}
.page4{
    width: 100%;
    min-height: 600px;
    background-color:hwb(0 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4 h1{
    color: white;
    font-size: 65px;
    font-weight: 200;
}
.page4 p {
    color: #A7A7A7;
    font-size: 20px;
}
.page4text{
    margin-top: 170px;
}
.page4img{
    width: 300px;
    height:400px;
    margin-left: 100px;
    margin-top: 60px;
    opacity: 0.7;
    transition: 1s  ;
}
.page4img:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 1s;
}
.page5{
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Assets/page5background.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}  
.page5tittle p{
    color: white;
    background-color:#C7A17A ;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 103px;
    font-size: 15px;
}
.page5tittle h1{
    color: white;
    font-size: 55px;
}
.page5png{
    padding-left: 170px;
}
.page5text p{
    color: white;
    font-size: 20px;
    text-align: center; 
}
.page5people{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}
.p1{
    font-size: 20px;
    color: white;
    text-align: center;
}
.p2{
    font-size: 18px;
    color: #C7A17A;
    text-align: center;
}

.page6{
    background:linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url(../../Assets/page5background.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapimg{
    width: 600px;
    background-image: url(../../Assets/map.png);
    background-size: cover;
    background-position: center;
    height: 460px;
    margin-top: 120px;
    margin-left: 25px;
}
.page6form{
    width: 50%;
    height: 460px;
    background-color: #13131A;
    margin-top: 120px;
    border: 1px solid rgb(68, 54, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page6form p{
    color:white;
    background-color: #C7A17A;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}
.page6form h1{
    color: white;
    font-size:55px ;
    text-align: center;
}
.page6form input{
    color: white;
    width: 45vw;
    background-color:#09090D ;
    padding: 20px;
    margin-top: 25px;
    border: 1px solid rgb(68, 54, 75) ;
}






@media screen and (max-width: 1110px) {
    .page6{
        display: flex;
        flex-wrap: wrap;
    }
    .mapimg{
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .page6form{
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    
}

@media screen and (max-width: 1190px) {
    .page4img{
        padding-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .page4{
        display: flex;
        flex-wrap: wrap;
    }
}
   

@media screen and (max-width: 380px) {
    .page4img{
        margin-right:55px;
    }
}

@media screen and (max-width: 790px) {
        .page4text{
            margin-left: 5px;
            margin-top: 5px;
        }
        .page4img{
            margin-left: 55px;
            margin-top: 15px;
        }
}


@media screen and (max-width: 1115px) {
    .page2{
        display: flex;
        flex-wrap: wrap;
    }
    .photo1{
        margin-top: 20px;
    }
    .photo2{
        margin-top: 20px;
    }
    .photo3{
        margin-top: 20px;
    }
}

@media screen and (max-width: 816px) {
    .photo1{
        width: 500px;
    }
    .photo2{
        width: 500px;
    }
    .photo3{
        width: 500px;
    }
}

@media screen and (max-width: 495px) {
 .homeh1{
    font-size:80px ;
    text-align: center;
    padding-left: 5px;
 }
}
@media screen and (max-width: 1110px) {
    .page3{
        display: flex;
        flex-wrap: wrap;
    }
    .page3img{
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .page3form{
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .page3form p{
        font-size: 20px;
        margin-left: 10px;
    }
    .page3form h1{
        font-size: 65px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 631px){
    .page3form p{
        font-size: 16px;
        margin-left: 10px;
    }
    .page3form h1{
        font-size: 30px;
        margin-left: 10px;
    }
    .page3img{
        margin-top: 15px;
    }
}