.page1contact{
    width: 100%;
    min-height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../Assets/reservation.jfif);
    background-size: cover;
    background-position: center;
    position: relative;
}
.linecontact{
    width: 100%;
    position: absolute;
}
.textcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
}
.textcontact h1{
    color: white;
    font-size: 70px;
    font-weight: 200;
}
.textcontact p{
    color: white;
}
.textcontact p i{
    color: #C7A17A;
}

.page2contact{
    width: 100%;
    min-height: 850px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 1000px;
    min-height: 700px;
    background-color: rgb(251, 251, 251);
    border: 1px solid #E2DFDD;
    display: flex;
    flex-direction: column;
}
.iconform{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
    width: 100%;
    height: auto;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ictext{
    margin-left: 20px;
}
.ictext h2{
    font-size: 24px;
    font-family: "Bebas Neue", cursive;
    font-weight: 200;
}
.ictext p{
    color: #737373;
    font-family: 'Jost', sans-serif;
}
.ictext a{
    text-decoration: none;
    color: #737373;
    font-family: 'Jost', sans-serif;
}
.icon img{
    border: 1px solid #E2DFDD ;
    border-radius: 5px;
    padding: 15px;
}
.inputform{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 490px;
    margin-top: 65px;
}
.oneinputs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.oneinputs input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E2DFDD ;
    padding-left: 15px;
    font-family: 'Jost', sans-serif;
}
.twoinput{
    margin-left: 65px;
    margin-top: 30px;
}
.twoinput input{
    width: 868px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E2DFDD ;
    padding-left: 15px;
    font-family: 'Jost', sans-serif;
}
.textarea{
    margin-top: 30px;
    margin-left: 65px;
}
.textarea textarea{
    border: 1px solid #E2DFDD ;
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Jost', sans-serif;
}
.buttonform{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.buttonform button{
    padding: 10px 15px;
    font-family: 'Jost', sans-serif;
    background-color: #C7A17A;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 1020px){
    .iconform{
        display: flex;
        flex-wrap: wrap;
    }
}
 