.navbar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  background-color: white;
  border-bottom: 1px solid white;
}
.homePageNavbar{
  background-color: black;
}
.homePageNavbar a{
 color: white !important;
}
.NavBarContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.NavBar1 {
  height: 100%;
}

.navItems {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItems a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  transition: 1s;
}

.NavBar a:hover {
  color: #c7a17a;
  transition: 0.5s;
}

.logo {
  padding-top: 30px;
}

@media screen and (max-width: 1300px) {
  .NavBarContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navItems{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navItems a{
    margin-top: 15px;
    border: 1px solid;
    padding:2px;
    margin-left: 15px;

  }
  .logo{
    display: none;
  }
}
