.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  background-color: white;
  border-bottom: 1px solid white;
}
.homePageNavbar{
  background-color: black;
}
.homePageNavbar a{
 color: white !important;
}
.NavBarContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavBar1 {
  height: 100%;
}

.navItems {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItems a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  transition: 1s;
}

.NavBar a:hover {
  color: #c7a17a;
  transition: 0.5s;
}

.logo {
  padding-top: 30px;
}

.navHamburger {
  display: none;
}

@media screen and (max-width: 1300px) {
  .NavBar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
  }
  .navItems {
    display: none;
  }
}
