.page1chefs{
    width: 100%;
    min-height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../Assets/reservation.jfif);
    background-size: cover;
    background-position: center;
    position: relative;
}
.linechefs{
    width: 100%;
    position: absolute;
}
.textchefs1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
}
.textchefs1 h1{
    color: white;
    font-size: 70px;
    font-weight: 200;
}
.textchefs1 p{
    color: white;
}
.textchefs1 p i{
    color: green;
}
.page2chefs{
    width: 100%;
    min-height: 750px;
    background-color: rgb(234, 234, 234);
}